<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align=center>Biodata</ion-card-subtitle>
      <ion-card-title> Nama : Ra'i Reski Prasetia</ion-card-title>
      <ion-card-title> Tempat/Tgl Lahir : Bogor, 19 Desember 2001  </ion-card-title>
      <ion-card-title> Jenis Kelamin : Laki - laki</ion-card-title>
      <ion-card-title> Alamat : Ciherang Peuntas </ion-card-title>
      <ion-card-title> Agama : Islam </ion-card-title>

      <ion-card-title> Nama : Jonathan Atritus</ion-card-title>
      <ion-card-title> Tempat/Tgl Lahir : Depok, 16 Maret 2002 </ion-card-title>
      <ion-card-title> Jenis Kelamin : Laki - laki</ion-card-title>
      <ion-card-title> Alamat : Arco Raya </ion-card-title>
      <ion-card-title> Agama : Kristen Protestan </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>