<ion-header>
  <ion-toolbar>
    <ion-title>Mata Kuliah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Inggris 1 [ English 1 ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Matematika [ Mathematics ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalkulus [ Calculus ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pemrograman Web [ Web Programming ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Platform Mobile [ Mobile Platform ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dasar Sistem Cerdas [ Intelligence System Fundamental ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sistem Intelijen Strategi Pencarian Dasar [ Intelligence System Basic Search Strategies ]<ion-icon name="chatbubbles-sharp"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Analisis dan Pemodelan Perangkat Lunak [ Software Modeling And Analyst ]</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
